
.custom-header{
  background-image: url("/assets/images/Pattern.svg");
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}

.container{
  margin-top: 30px;
}

.custom-space{
  margin-bottom:26px;
}
